n8n/workflows/05-rag-knowledge-processor-FINAL-V6-TU-WORKFLOW-CORREGIDO.json
{
  "name": "05 - RAG Knowledge Processor ✅ V6 TU WORKFLOW CORREGIDO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-knowledge",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {"name": "Access-Control-Allow-Origin", "value": "*"},
              {"name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS"},
              {"name": "Access-Control-Allow-Headers", "value": "Content-Type"}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-1344, -32],
      "id": "61ebdfa9-4642-4053-aa27-dc2d0e561874",
      "name": "📥 Webhook Trigger",
      "webhookId": "process-knowledge"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\nconst data = webhookData.body || webhookData;\n\nconsole.log('📥 Input recibido desde frontend:', {\n  restaurant_id: data.restaurant_id,\n  file_name: data.file_name,\n  category: data.category,\n  file_type: data.file_type\n});\n\nif (!data.restaurant_id) throw new Error('❌ restaurant_id es obligatorio');\nif (!data.file_path) throw new Error('❌ file_path es obligatorio');\nif (!data.category) throw new Error('❌ category es obligatorio');\nif (!['menu', 'services', 'other'].includes(data.category)) throw new Error('❌ category debe ser: menu, services, o other');\nif (!data.file_type) throw new Error('❌ file_type es obligatorio');\n\nconst acceptedTypes = [\n  'application/pdf',\n  'text/plain',\n  'text/html',\n  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n  'application/vnd.ms-excel',\n  'application/vnd.google-apps.document',\n  'application/vnd.google-apps.spreadsheet'\n];\n\nif (!acceptedTypes.includes(data.file_type)) throw new Error(`❌ Tipo de archivo no soportado: ${data.file_type}`);\n\nconsole.log('✅ Validación correcta');\n\nreturn {\n  restaurant_id: data.restaurant_id,\n  file_path: data.file_path,\n  file_name: data.file_name || 'documento',\n  file_type: data.file_type,\n  category: data.category,\n  file_id: data.file_id || null,\n  uploaded_at: data.uploaded_at || new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1152, -32],
      "id": "9392d461-3971-46cc-ac0c-6092f936f001",
      "name": "🔍 Validar Input"
    },
    {
      "parameters": {
        "url": "=https://ktsqwvhqamedpmzkzjaz.supabase.co/storage/v1/object/restaurant-knowledge/{{ $json.file_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-976, -32],
      "id": "7eac8160-e18f-4ecc-9522-803092eeff00",
      "name": "📥 Descargar de Supabase Storage",
      "credentials": {
        "httpHeaderAuth": {
          "id": "y7UzPImBxsERYUyS",
          "name": "💾 Supabase Vector Store"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [
                  {
                    "leftValue": "={{ $('🔍 Validar Input').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {"type": "string", "operation": "equals"},
                    "id": "e3e7e6d5-eab2-4e1f-b469-ea6715c7199c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [
                  {
                    "id": "d2923a3b-7778-415b-aebc-850fac4043df",
                    "leftValue": "={{ $('🔍 Validar Input').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pdf"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [
                  {
                    "id": "8284b096-24cf-4cde-b8d0-077308a504aa",
                    "leftValue": "={{ $('🔍 Validar Input').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [
                  {
                    "id": "af83041b-992c-47f9-84cf-56cbf561e3a3",
                    "leftValue": "={{ $('🔍 Validar Input').item.json.file_type }}",
                    "rightValue": "text/html",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTML"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [
                  {
                    "id": "dfed79db-d79a-4bef-b0a2-d85e818eb9b0",
                    "leftValue": "={{ $('🔍 Validar Input').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [
                  {
                    "id": "ccd3682b-7711-446e-9d94-767ca48ed394",
                    "leftValue": "={{ $('🔍 Validar Input').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel.97"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [
                  {
                    "id": "28faa399-1c90-4f56-b333-60ddd99a3686",
                    "leftValue": "={{ $('🔍 Validar Input').item.json.file_type }}",
                    "rightValue": "text/plain",
                    "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-800, -112],
      "id": "993c573a-e1a1-4a8c-90b6-0fd541226228",
      "name": "Switch"
    },
    {
      "parameters": {"operation": "pdf", "options": {}},
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-544, -272],
      "id": "b4a4d2c5-3c98-439f-a342-5c4f837db080",
      "name": "📄 Extract PDF"
    },
    {
      "parameters": {"operation": "text", "options": {}},
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-544, -96],
      "id": "1c91a300-de3c-43ea-8c1f-238336379c59",
      "name": "📃 Extract TXT"
    },
    {
      "parameters": {"operation": "html", "options": {}},
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-544, 64],
      "id": "2cae48b5-0ccc-4ae8-a020-237620e7dfd3",
      "name": "Extract from HTML"
    },
    {
      "parameters": {"aggregate": "aggregateAllItemData", "options": {}},
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [-544, 240],
      "id": "ea2c05e9-a2c4-4b5d-a488-a0f41ff2c1d7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [{"aggregation": "concatenate", "field": "data"}]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [-400, 240],
      "id": "f31d1c69-76d4-4bb9-9312-42960f3e9fab",
      "name": "Summarize"
    },
    {
      "parameters": {"operation": "xlsx", "options": {}},
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-256, 240],
      "id": "afad2811-bcef-4c73-8ac4-efed7cba2bee",
      "name": "Extract from XLXS"
    },
    {
      "parameters": {"aggregate": "aggregateAllItemData", "options": {}},
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [-544, 400],
      "id": "8b6a1701-f598-4d35-9185-409eed691063",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [{"aggregation": "concatenate", "field": "data"}]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [-400, 400],
      "id": "e7aa13ce-6c5f-40aa-900f-4755543ad815",
      "name": "Summarize1"
    },
    {
      "parameters": {"operation": "xls", "options": {}},
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-256, 400],
      "id": "e3f091db-52f3-4d17-bf52-c7b2da4574ca",
      "name": "Extract from XLX"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {"__rl": true, "value": "restaurant_knowledge_vectors", "mode": "list"},
        "options": {"queryName": "match_restaurant_knowledge"}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [32, -48],
      "id": "06be7b48-f63b-44c0-b6d7-022039ed8986",
      "name": "💾 Supabase Vector Store",
      "credentials": {
        "supabaseApi": {"id": "9pdl4V7ImejCLZWo", "name": "Supabase La-IA"}
      }
    },
    {
      "parameters": {"options": {}},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [16, 304],
      "id": "e8a421f3-6114-45e5-a4fa-f75b9724f345",
      "name": "🧠 Embeddings OpenAI",
      "credentials": {
        "openAiApi": {"id": "zwtmjTlXACMvkqZx", "name": "OpenAi La-IA"}
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {"name": "restaurant_id", "value": "={{ $('🔍 Validar Input').item.json.restaurant_id }}"},
              {"name": "category", "value": "={{ $('🔍 Validar Input').item.json.category }}"},
              {"name": "file_name", "value": "={{ $('🔍 Validar Input').item.json.file_name }}"},
              {"name": "file_type", "value": "={{ $('🔍 Validar Input').item.json.file_type }}"},
              {"name": "file_id", "value": "={{ $('🔍 Validar Input').item.json.file_id }}"},
              {"name": "uploaded_at", "value": "={{ $('🔍 Validar Input').item.json.uploaded_at }}"},
              {"name": "processed_at", "value": "={{ $now.toISO() }}"}
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [128, 160],
      "id": "d130b039-6c29-41da-ac07-cf84d6641732",
      "name": "📚 Default Data Loader"
    },
    {
      "parameters": {"chunkSize": 2000, "chunkOverlap": 200, "options": {}},
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [160, 352],
      "id": "f1165c75-9fb4-4ec8-a82d-1d01634e0fe8",
      "name": "✂️ Text Splitter"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "restaurant_knowledge_files",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {"keyName": "id", "condition": "eq", "keyValue": "={{ $('🔍 Validar Input').first().json.file_id }}"}
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "status", "fieldValue": "completed"},
            {"fieldId": "processed_at", "fieldValue": "={{ $now.toISO() }}"}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [368, -48],
      "id": "97d39b9f-6bb9-465e-b3d0-73e7f6c717d2",
      "name": "✅ Actualizar Estado Archivo",
      "credentials": {
        "supabaseApi": {"id": "9pdl4V7ImejCLZWo", "name": "Supabase La-IA"}
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Documento procesado correctamente', file_name: $('🔍 Validar Input').first().json.file_name, restaurant_id: $('🔍 Validar Input').first().json.restaurant_id, file_id: $('🔍 Validar Input').first().json.file_id }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{"name": "Content-Type", "value": "application/json"}]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [544, -48],
      "id": "c1ce8e42-a39d-422e-9386-724da5fc33e9",
      "name": "✅ Respuesta OK"
    }
  ],
  "connections": {
    "📥 Webhook Trigger": {"main": [[{"node": "🔍 Validar Input", "type": "main", "index": 0}]]},
    "🔍 Validar Input": {"main": [[{"node": "📥 Descargar de Supabase Storage", "type": "main", "index": 0}]]},
    "📥 Descargar de Supabase Storage": {"main": [[{"node": "Switch", "type": "main", "index": 0}]]},
    "Switch": {"main": [[{"node": "📃 Extract TXT", "type": "main", "index": 0}], [{"node": "📄 Extract PDF", "type": "main", "index": 0}], [], [{"node": "Extract from HTML", "type": "main", "index": 0}], [{"node": "Aggregate", "type": "main", "index": 0}], [{"node": "Aggregate1", "type": "main", "index": 0}], [{"node": "📃 Extract TXT", "type": "main", "index": 0}]]},
    "📄 Extract PDF": {"main": [[{"node": "💾 Supabase Vector Store", "type": "main", "index": 0}]]},
    "📃 Extract TXT": {"main": [[{"node": "💾 Supabase Vector Store", "type": "main", "index": 0}]]},
    "Extract from HTML": {"main": [[{"node": "💾 Supabase Vector Store", "type": "main", "index": 0}]]},
    "Aggregate": {"main": [[{"node": "Summarize", "type": "main", "index": 0}]]},
    "Summarize": {"main": [[{"node": "Extract from XLXS", "type": "main", "index": 0}]]},
    "Extract from XLXS": {"main": [[{"node": "💾 Supabase Vector Store", "type": "main", "index": 0}]]},
    "Aggregate1": {"main": [[{"node": "Summarize1", "type": "main", "index": 0}]]},
    "Summarize1": {"main": [[{"node": "Extract from XLX", "type": "main", "index": 0}]]},
    "Extract from XLX": {"main": [[{"node": "💾 Supabase Vector Store", "type": "main", "index": 0}]]},
    "💾 Supabase Vector Store": {"main": [[{"node": "✅ Actualizar Estado Archivo", "type": "main", "index": 0}]]},
    "✅ Actualizar Estado Archivo": {"main": [[{"node": "✅ Respuesta OK", "type": "main", "index": 0}]]},
    "🧠 Embeddings OpenAI": {"ai_embedding": [[{"node": "💾 Supabase Vector Store", "type": "ai_embedding", "index": 0}]]},
    "📚 Default Data Loader": {"ai_document": [[{"node": "💾 Supabase Vector Store", "type": "ai_document", "index": 0}]]},
    "✂️ Text Splitter": {"ai_textSplitter": [[{"node": "📚 Default Data Loader", "type": "ai_textSplitter", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-20T23:45:00.000Z",
  "versionId": "v6-tu-workflow"
}

