n8n/workflows/1-whatsapp-input-with-buffer.json
{
  "name": "1️⃣ WhatsApp Input → Buffer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "12f0abf3-6856-4ce8-bd75-fc5c6c22a7c4",
      "name": "Webhook WhatsApp",
      "webhookId": "whatsapp-inbound"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// EXTRAER NÚMERO DE WHATSAPP BUSINESS\n// ================================================\n\nconst data = $input.item.json;\nconst body = data.body || data;\n\n// Extraer número TO (el número de WhatsApp Business del restaurante)\nlet businessPhone = body.To || body.to || '';\n\n// Limpiar prefijo whatsapp:\nif (businessPhone.startsWith('whatsapp:')) {\n  businessPhone = businessPhone.replace('whatsapp:', '');\n}\n\nconsole.log('Número de negocio detectado:', businessPhone);\n\nreturn {\n  business_phone: businessPhone,\n  channel: 'twilio_whatsapp',\n  raw_webhook: body\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "id": "config-node",
      "name": "Extraer Número Business",
      "notes": "Extrae el número de WhatsApp Business del webhook (campo TO)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM get_restaurant_by_channel_identifier('{{ $json.channel }}', '{{ $json.business_phone }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [620, 300],
      "id": "lookup-restaurant",
      "name": "Buscar Restaurante en DB",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      },
      "notes": "Consulta tabla channel_credentials para identificar el restaurante"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del webhook de WhatsApp (Twilio format)\nconst webhookData = $('Extraer Número Business').item.json;\nconst body = webhookData.raw_webhook;\n\n// Obtener restaurant_id del nodo de búsqueda en DB\nconst restaurantData = $('Buscar Restaurante en DB').item.json;\nconst restaurantId = restaurantData.restaurant_id;\n\nif (!restaurantId) {\n  const businessPhone = webhookData.business_phone;\n  throw new Error(`❌ Restaurante no encontrado para número: ${businessPhone}. ` +\n    `Por favor, activa el canal WhatsApp en la aplicación y guarda el número ${businessPhone} en channel_credentials.`);\n}\n\nconsole.log('✅ Restaurante identificado:', restaurantData.restaurant_name, '(ID:', restaurantId, ')');\n\n// Normalizar datos (adaptar según proveedor: Twilio, Meta, etc.)\nlet customerPhone = body.From || body.from || body.phone || '';\nlet customerName = body.ProfileName || body.profile?.name || 'Cliente';\nlet messageText = body.Body || body.body || body.text || '';\nconst timestamp = body.timestamp || new Date().toISOString();\n\n// Limpiar prefijo whatsapp: de Twilio\nif (customerPhone.startsWith('whatsapp:')) {\n  customerPhone = customerPhone.replace('whatsapp:', '');\n}\n\n// Generar buffer_key único (phone + fecha/hora con 10 seg de ventana)\nconst now = new Date();\nconst bufferWindow = Math.floor(now.getTime() / 10000) * 10000; // Ventana de 10 segundos\nconst bufferKey = `${customerPhone}_${bufferWindow}`;\n\nconsole.log('WhatsApp recibido:', { customerPhone, customerName, messageText, restaurantId });\n\nreturn {\n  buffer_key: bufferKey,\n  customer_phone: customerPhone,\n  customer_name: customerName,\n  message_text: messageText,\n  restaurant_id: restaurantId,\n  timestamp: timestamp,\n  raw_data: body\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "17be8f3f-50aa-4a14-b567-336732837f80",
      "name": "Normalizar Datos"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "whatsapp_message_buffer",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "buffer_key",
              "fieldValue": "={{ $json.buffer_key }}"
            },
            {
              "fieldId": "restaurant_id",
              "fieldValue": "={{ $json.restaurant_id }}"
            },
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $json.customer_phone }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $json.customer_name }}"
            },
            {
              "fieldId": "messages",
              "fieldValue": "={{ $json.message_text }}"
            },
            {
              "fieldId": "message_count",
              "fieldValue": 1
            },
            {
              "fieldId": "first_message_at",
              "fieldValue": "={{ $json.timestamp }}"
            },
            {
              "fieldId": "last_message_at",
              "fieldValue": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "9e8710a2-dfb5-4814-82e5-8a4ce9ab802f",
      "name": "Insertar en Buffer",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Preparar para actualizar buffer existente\nconst inputData = $('Normalizar Datos').item.json;\n\nreturn {\n  buffer_key: inputData.buffer_key,\n  new_message: inputData.message_text,\n  timestamp: inputData.timestamp\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 480],
      "id": "2ea089d4-a696-46a6-893a-ff1954f07a7e",
      "name": "Preparar Actualización"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "whatsapp_message_buffer",
        "filterType": "manual",
        "matchingColumns": {
          "buffer_key": "={{ $json.buffer_key }}"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "messages",
              "fieldValue": "={{ $('Normalizar Datos').item.json.message_text }}"
            },
            {
              "fieldId": "message_count",
              "fieldValue": "={{ $json.message_count + 1 }}"
            },
            {
              "fieldId": "last_message_at",
              "fieldValue": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 480],
      "id": "0304f408-d0f9-4ad4-8427-02179f93a17c",
      "name": "Actualizar Buffer",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 300],
      "id": "c0bfc8f3-d795-4a43-9700-3d245a643759",
      "name": "Esperar 10 segundos",
      "webhookId": "wait-buffer-whatsapp"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "tableId": "whatsapp_message_buffer",
        "filterType": "manual",
        "matchingColumns": {
          "buffer_key": "={{ $('Normalizar Datos').item.json.buffer_key }}"
        },
        "returnAll": false,
        "limit": 1
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "18dc0b6a-053a-431d-b7a8-400195d7e8fe",
      "name": "Obtener Buffer Completo",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos consolidados para el Gateway\nconst buffer = $input.all()[0].json;\n\nreturn {\n  channel: 'whatsapp',\n  restaurant_id: buffer.restaurant_id,\n  customer_phone: buffer.customer_phone,\n  customer_name: buffer.customer_name,\n  aggregated_messages: buffer.messages,\n  message_count: buffer.message_count,\n  buffer_key: buffer.buffer_key,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "id": "bac07b68-9ae4-4bf0-898f-0669de3b0974",
      "name": "Preparar para Gateway"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "delete",
        "tableId": "whatsapp_message_buffer",
        "filterType": "manual",
        "matchingColumns": {
          "buffer_key": "={{ $json.buffer_key }}"
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 300],
      "id": "1434bd9a-362c-469c-b1be-e1723722b5b2",
      "name": "Eliminar Buffer",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GATEWAY_WORKFLOW_ID",
          "mode": "id",
          "cachedResultName": "2️⃣ Gateway Unificado"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1780, 300],
      "id": "execute-gateway",
      "name": "Ejecutar Gateway Unificado"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'success', message: 'Mensaje recibido y procesado'}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300],
      "id": "ed2bbae3-ef23-400f-934d-7a8b8d688aff",
      "name": "Responder Webhook"
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Extraer Número Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Número Business": {
      "main": [
        [
          {
            "node": "Buscar Restaurante en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Restaurante en DB": {
      "main": [
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Datos": {
      "main": [
        [
          {
            "node": "Insertar en Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en Buffer": {
      "main": [
        [
          {
            "node": "Esperar 10 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Preparar Actualización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Actualización": {
      "main": [
        [
          {
            "node": "Actualizar Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Buffer": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 10 segundos": {
      "main": [
        [
          {
            "node": "Obtener Buffer Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Buffer Completo": {
      "main": [
        [
          {
            "node": "Preparar para Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Gateway": {
      "main": [
        [
          {
            "node": "Eliminar Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Buffer": {
      "main": [
        [
          {
            "node": "Ejecutar Gateway Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Gateway Unificado": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-03T00:00:00.000Z",
  "versionId": "2",
  "meta": {
    "instanceId": "968c65341fc947850f62b4a42d249947219a244717952c0dbaf2b62952e73bd9"
  }
}
