n8n/workflows/1-whatsapp-buffer-SIMPLE-FINAL.json
{
  "name": "1️⃣ WhatsApp Buffer - SIMPLE (FINAL)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "webhook-whatsapp",
      "name": "📱 Webhook WhatsApp",
      "webhookId": "whatsapp-inbound"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\nconst data = webhookData.body || webhookData;\n\nconst cleanPhone = (phone) => {\n  if (!phone) return '';\n  return phone.toString().replace('whatsapp:', '').trim();\n};\n\nconst customerPhone = cleanPhone(data.From || '');\nconst restaurantPhone = cleanPhone(data.To || '');\nconst bufferKey = `${customerPhone}_${Math.floor(Date.now() / 10000) * 10000}`;\n\nreturn {\n  customer_phone: customerPhone,\n  customer_name: data.ProfileName || 'Cliente',\n  message_text: data.Body || '',\n  restaurant_phone: restaurantPhone,\n  buffer_key: bufferKey,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "normalize",
      "name": "📝 Normalizar"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "restaurants",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "get-restaurants",
      "name": "🔍 Get Restaurants",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('📝 Normalizar').first().json;\nconst restaurants = $input.all();\n\nconst matched = restaurants.find(r => {\n  const restaurant = r.json;\n  const channels = restaurant.channels || {};\n  const whatsapp = channels.whatsapp || {};\n  return whatsapp.phone_number === normalized.restaurant_phone;\n});\n\nif (!matched) {\n  throw new Error(`Restaurant not found for ${normalized.restaurant_phone}`);\n}\n\nreturn {\n  ...normalized,\n  restaurant_id: matched.json.id,\n  restaurant_name: matched.json.name\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "find-restaurant",
      "name": "✅ Find Restaurant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ktsqwvhqamedpmzkzjaz.supabase.co/rest/v1/rpc/upsert_whatsapp_buffer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0c3F3dmhxYW1lZHBtemt6amF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzNzY3NzEsImV4cCI6MjA2OTk1Mjc3MX0.Y-zMa2F5a7UVT-efldv0sZjLAgmCfeEmhxfP7kgGzNY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0c3F3dmhxYW1lZHBtemt6amF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzNzY3NzEsImV4cCI6MjA2OTk1Mjc3MX0.Y-zMa2F5a7UVT-efldv0sZjLAgmCfeEmhxfP7kgGzNY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_buffer_key",
              "value": "={{ $json.buffer_key }}"
            },
            {
              "name": "p_restaurant_id",
              "value": "={{ $json.restaurant_id }}"
            },
            {
              "name": "p_customer_phone",
              "value": "={{ $json.customer_phone }}"
            },
            {
              "name": "p_customer_name",
              "value": "={{ $json.customer_name }}"
            },
            {
              "name": "p_message_text",
              "value": "={{ $json.message_text }}"
            },
            {
              "name": "p_timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "id": "upsert-buffer",
      "name": "💾 Guardar en Buffer"
    }
  ],
  "connections": {
    "📱 Webhook WhatsApp": {
      "main": [[{"node": "📝 Normalizar", "type": "main", "index": 0}]]
    },
    "📝 Normalizar": {
      "main": [[{"node": "🔍 Get Restaurants", "type": "main", "index": 0}]]
    },
    "🔍 Get Restaurants": {
      "main": [[{"node": "✅ Find Restaurant", "type": "main", "index": 0}]]
    },
    "✅ Find Restaurant": {
      "main": [[{"node": "💾 Guardar en Buffer", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T10:30:00.000Z",
  "versionId": "SIMPLE"
}

