n8n/workflows/1A-whatsapp-buffer-ACUMULADOR.json
{
  "name": "1A️⃣ WhatsApp Buffer - ACUMULADOR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "webhook-whatsapp",
      "name": "📱 Webhook WhatsApp",
      "webhookId": "whatsapp-inbound"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\nconst data = webhookData.body || webhookData;\n\nconsole.log('📥 Webhook recibido:', JSON.stringify(data, null, 2));\n\n// Función para limpiar SOLO 'whatsapp:' pero DEJAR el '+'\nconst cleanPhone = (phone) => {\n  if (!phone) return '';\n  return phone.toString().replace('whatsapp:', '').trim();\n};\n\nconst fromRaw = data.From || '';\nconst toRaw = data.To || '';\nconst body = data.Body || '';\nconst profileName = data.ProfileName || 'Cliente';\n\n// Limpiar pero MANTENER el '+'\nconst customerPhone = cleanPhone(fromRaw);\nconst restaurantPhone = cleanPhone(toRaw);\n\n// BUFFER KEY: solo teléfono (timer de 30s se resetea con cada mensaje)\nconst bufferKey = customerPhone;\n\nconsole.log('✅ Datos procesados:', { customerPhone, restaurantPhone, body, bufferKey });\n\nreturn {\n  customer_phone: customerPhone,\n  customer_name: profileName,\n  message_text: body,\n  restaurant_phone: restaurantPhone,\n  buffer_key: bufferKey,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "normalize",
      "name": "📝 Normalizar"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "restaurants",
        "returnAll": true,
        "options": {
          "columns": {
            "columnsString": "id,name,channels"
          }
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "get-restaurants",
      "name": "🔍 Get Restaurants",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('📝 Normalizar').first().json;\nconst restaurants = $input.all();\n\nconsole.log('🔍 Buscando restaurante para:', normalized.restaurant_phone);\n\nconst matched = restaurants.find(r => {\n  const restaurant = r.json;\n  const channels = restaurant.channels || {};\n  const whatsapp = channels.whatsapp || {};\n  const whatsappNumber = whatsapp.phone_number || '';\n  \n  console.log(`  ${restaurant.name}: ${whatsappNumber} === ${normalized.restaurant_phone}`);\n  \n  return whatsappNumber === normalized.restaurant_phone;\n});\n\nif (!matched) {\n  console.error('❌ No se encontró restaurante');\n  throw new Error(`Restaurant not found for ${normalized.restaurant_phone}`);\n}\n\nconsole.log('✅ Match:', matched.json.name);\n\nreturn {\n  ...normalized,\n  restaurant_id: matched.json.id,\n  restaurant_name: matched.json.name\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "find-restaurant",
      "name": "✅ Find Restaurant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ktsqwvhqamedpmzkzjaz.supabase.co/rest/v1/rpc/upsert_whatsapp_buffer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0c3F3dmhxYW1lZHBtemt6amF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzNzY3NzEsImV4cCI6MjA2OTk1Mjc3MX0.Y-zMa2F5a7UVT-efldv0sZjLAgmCfeEmhxfP7kgGzNY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0c3F3dmhxYW1lZHBtemt6amF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzNzY3NzEsImV4cCI6MjA2OTk1Mjc3MX0.Y-zMa2F5a7UVT-efldv0sZjLAgmCfeEmhxfP7kgGzNY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_buffer_key",
              "value": "={{ $json.buffer_key }}"
            },
            {
              "name": "p_restaurant_id",
              "value": "={{ $json.restaurant_id }}"
            },
            {
              "name": "p_customer_phone",
              "value": "={{ $json.customer_phone }}"
            },
            {
              "name": "p_customer_name",
              "value": "={{ $json.customer_name }}"
            },
            {
              "name": "p_message_text",
              "value": "={{ $json.message_text }}"
            },
            {
              "name": "p_timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "id": "upsert-buffer",
      "name": "🔄 UPSERT Buffer",
      "webhookId": ""
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'ok', message: 'buffered', buffer_key: $json.buffer_key}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300],
      "id": "respond-ok",
      "name": "✅ OK (Guardado)"
    }
  ],
  "connections": {
    "📱 Webhook WhatsApp": {
      "main": [[{"node": "📝 Normalizar", "type": "main", "index": 0}]]
    },
    "📝 Normalizar": {
      "main": [[{"node": "🔍 Get Restaurants", "type": "main", "index": 0}]]
    },
    "🔍 Get Restaurants": {
      "main": [[{"node": "✅ Find Restaurant", "type": "main", "index": 0}]]
    },
    "✅ Find Restaurant": {
      "main": [[{"node": "🔄 UPSERT Buffer", "type": "main", "index": 0}]]
    },
    "🔄 UPSERT Buffer": {
      "main": [[{"node": "✅ OK (Guardado)", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T10:00:00.000Z",
  "versionId": "FINAL-ACUMULADOR"
}

