n8n/workflows/2-gateway-unified.json
{
  "name": "2️⃣ Gateway Unificado (Get/Create Customer + Conversation)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "trigger-gateway",
      "name": "Start (from WhatsApp/VAPI)"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// GATEWAY UNIFICADO - NORMALIZACIÓN DE DATOS\n// ================================================\n\nconst input = $input.item.json;\n\n// Detectar de qué canal viene\nconst channel = input.channel; // 'whatsapp' o 'vapi'\n\n// Estructura unificada para todos los canales\nconst normalized = {\n  // Identificadores\n  restaurant_id: input.restaurant_id,\n  conversation_id: input.conversation_id || `${channel}_${input.customer_phone}_${Date.now()}`,\n  customer_phone: input.customer_phone,\n  customer_name: input.customer_name || 'Cliente',\n  customer_email: input.customer_email || null,\n  \n  // Mensaje del usuario (ya agregado si viene de WhatsApp)\n  user_message: input.aggregated_messages || input.user_message || input.transcript || '',\n  \n  // Canal de origen\n  channel: channel,\n  \n  // Timestamp\n  timestamp: input.timestamp || new Date().toISOString(),\n  \n  // Metadata adicional\n  metadata: {\n    message_count: input.message_count || 1,\n    call_id: input.call_id || null, // Para VAPI\n    message_type: input.metadata?.message_type || 'text'\n  }\n};\n\n// Log para debugging\nconsole.log('Gateway - Canal:', channel);\nconsole.log('Gateway - Mensaje:', normalized.user_message.substring(0, 100));\n\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "normalize-data",
      "name": "Normalizar Datos Multi-Canal"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "tableId": "customers",
        "filterType": "manual",
        "matchingColumns": {
          "phone": "={{ $json.customer_phone }}",
          "restaurant_id": "={{ $json.restaurant_id }}"
        },
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "get-customer",
      "name": "Buscar Cliente Existente",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "customer-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "check-customer",
      "name": "¿Cliente existe?"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "customers",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "restaurant_id",
              "fieldValue": "={{ $('Normalizar Datos Multi-Canal').item.json.restaurant_id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Normalizar Datos Multi-Canal').item.json.customer_name }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Normalizar Datos Multi-Canal').item.json.customer_phone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Normalizar Datos Multi-Canal').item.json.customer_email }}"
            },
            {
              "fieldId": "segment_auto",
              "fieldValue": "nuevo"
            },
            {
              "fieldId": "segment_auto_v2",
              "fieldValue": "nuevo"
            },
            {
              "fieldId": "preferred_channel",
              "fieldValue": "={{ $('Normalizar Datos Multi-Canal').item.json.channel }}"
            },
            {
              "fieldId": "consent_whatsapp",
              "fieldValue": true
            },
            {
              "fieldId": "total_visits",
              "fieldValue": 0
            },
            {
              "fieldId": "visits_12m",
              "fieldValue": 0
            },
            {
              "fieldId": "total_spent",
              "fieldValue": 0
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 420],
      "id": "create-customer",
      "name": "Crear Cliente Nuevo",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// FUSIONAR DATOS: Input + Customer\n// ================================================\n\nconst inputData = $('Normalizar Datos Multi-Canal').item.json;\nconst customerData = $input.item.json;\n\n// Extraer customer_id de la respuesta de Supabase\nconst customerId = customerData.id || customerData.customer_id;\n\nreturn [{\n  json: {\n    ...inputData,\n    customer_id: customerId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "id": "merge-data",
      "name": "Fusionar Datos"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "agent_conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "restaurant_id",
              "fieldValue": "={{ $json.restaurant_id }}"
            },
            {
              "fieldId": "customer_id",
              "fieldValue": "={{ $json.customer_id }}"
            },
            {
              "fieldId": "customer_phone",
              "fieldValue": "={{ $json.customer_phone }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $json.customer_name }}"
            },
            {
              "fieldId": "customer_email",
              "fieldValue": "={{ $json.customer_email }}"
            },
            {
              "fieldId": "source_channel",
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": "interaction_type",
              "fieldValue": "inquiry"
            },
            {
              "fieldId": "status",
              "fieldValue": "active"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 300],
      "id": "create-conversation",
      "name": "Crear Conversación",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "agent_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Crear Conversación').item.json.id }}"
            },
            {
              "fieldId": "restaurant_id",
              "fieldValue": "={{ $('Fusionar Datos').item.json.restaurant_id }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "inbound"
            },
            {
              "fieldId": "sender",
              "fieldValue": "customer"
            },
            {
              "fieldId": "message_text",
              "fieldValue": "={{ $('Fusionar Datos').item.json.user_message }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Fusionar Datos').item.json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 300],
      "id": "log-message",
      "name": "Guardar Mensaje del Usuario",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para el Clasificador\nconst conversation = $('Crear Conversación').item.json;\nconst fusionData = $('Fusionar Datos').item.json;\n\nreturn {\n  conversation_id: conversation.id,\n  restaurant_id: fusionData.restaurant_id,\n  customer_id: fusionData.customer_id,\n  customer_name: fusionData.customer_name,\n  customer_phone: fusionData.customer_phone,\n  channel: fusionData.channel,\n  user_message: fusionData.user_message,\n  timestamp: fusionData.timestamp\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "id": "prepare-classifier",
      "name": "Preparar para Clasificador"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CLASSIFIER_WORKFLOW_ID",
          "mode": "id",
          "cachedResultName": "3️⃣ Clasificador Super Agent"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2220, 300],
      "id": "execute-classifier",
      "name": "Ejecutar Clasificador"
    }
  ],
  "connections": {
    "Start (from WhatsApp/VAPI)": {
      "main": [
        [
          {
            "node": "Normalizar Datos Multi-Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Datos Multi-Canal": {
      "main": [
        [
          {
            "node": "Buscar Cliente Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente Existente": {
      "main": [
        [
          {
            "node": "¿Cliente existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cliente existe?": {
      "main": [
        [
          {
            "node": "Fusionar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Cliente Nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cliente Nuevo": {
      "main": [
        [
          {
            "node": "Fusionar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionar Datos": {
      "main": [
        [
          {
            "node": "Crear Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Conversación": {
      "main": [
        [
          {
            "node": "Guardar Mensaje del Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Mensaje del Usuario": {
      "main": [
        [
          {
            "node": "Preparar para Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Clasificador": {
      "main": [
        [
          {
            "node": "Ejecutar Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-03T00:00:00.000Z",
  "versionId": "2",
  "meta": {
    "instanceId": "968c65341fc947850f62b4a42d249947219a244717952c0dbaf2b62952e73bd9"
  }
}
