n8n/workflows/3-classifier-super-agent.json
{
  "name": "3️⃣ Clasificador Super Agent (GPT-4o-mini)",
  "nodes": [
    {
      "parameters": {},
      "id": "e70292d5-2294-468d-93cc-f6084eb0af67",
      "name": "Start (from Gateway)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// PREPARAR CONTEXTO PARA EL CLASIFICADOR\n// ================================================\n\nconst data = $input.item.json;\n\nreturn [{\n  json: {\n    ...data,\n    // Añadir contexto específico para el clasificador\n    classification_context: {\n      user_message: data.user_message,\n      customer_name: data.customer_name,\n      channel: data.channel,\n      timestamp: data.timestamp\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "dce39d6a-4f09-4d41-8c6f-a1ae5b2b71c2",
      "name": "Preparar Contexto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un clasificador inteligente para un sistema de gestión de restaurantes.\n\nTu tarea es analizar el mensaje del cliente y clasificarlo en UNA de estas categorías:\n\n1. **nueva_reserva**: El cliente quiere hacer una nueva reserva\n   - Ejemplos: \"Quiero reservar\", \"Una mesa para 4\", \"Disponibilidad para hoy\", \"Tenéis sitio?\"\n\n2. **modificar_reserva**: El cliente quiere cambiar una reserva existente\n   - Ejemplos: \"Cambiar mi reserva\", \"Mover la reserva de mañana\", \"Modificar hora\"\n\n3. **cancelar_reserva**: El cliente quiere cancelar una reserva\n   - Ejemplos: \"Cancelar mi reserva\", \"No puedo ir\", \"Anular la mesa\"\n\n4. **consulta_menu**: El cliente pregunta sobre el menú, platos, precios\n   - Ejemplos: \"Qué tienen de menú\", \"Precio del menú\", \"Tienen opciones veganas\"\n\n5. **consulta_general**: Preguntas sobre ubicación, horarios, servicios\n   - Ejemplos: \"Dónde están\", \"Horario de apertura\", \"Tienen terraza\"\n\n6. **consulta_reserva**: El cliente pregunta por una reserva existente\n   - Ejemplos: \"Tengo reserva?\", \"Mi reserva es a qué hora\", \"Confirmar reserva\"\n\n7. **saludo_inicial**: Saludos sin intención clara\n   - Ejemplos: \"Hola\", \"Buenos días\", \"Qué tal\"\n\n**IMPORTANTE:**\n- Responde SOLO con un JSON en este formato exacto:\n  {\"category\": \"nueva_reserva\", \"confidence\": 0.95, \"reasoning\": \"El usuario solicita explícitamente una reserva\"}\n- NO añadas texto adicional fuera del JSON\n- NO uses markdown (```json)\n- La confianza (confidence) debe ser entre 0 y 1\n- Si no estás seguro, usa \"consulta_general\" con baja confianza\n\n**Mensaje del cliente:**\n\"{{ $json.user_message }}\"\n\n**Clasifica este mensaje ahora:**",
        "options": {
          "systemMessage": "Eres un clasificador de intenciones. Responde ÚNICAMENTE con JSON válido, sin markdown, sin texto adicional, sin explicaciones."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [680, 300],
      "id": "1f1fb1df-b39d-4b29-8b66-8432c74b8f8d",
      "name": "AI Agent Clasificador"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [680, 480],
      "id": "1dcfdb5a-11d3-4359-9d49-0d8a9ce85dab",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 150,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [480, 480],
      "id": "62dd6f41-c1d3-4e8d-be1d-16fd99c75cbc",
      "name": "OpenAI GPT-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "zwtmjTlXACMvkqZx",
          "name": "OpenAi La-IA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// PARSEAR RESPUESTA DEL CLASIFICADOR\n// ================================================\n\nconst originalData = $('Preparar Contexto').item.json;\nconst agentResponse = $input.item.json;\n\n// Extraer el contenido de la respuesta del AI Agent\nlet classificationText = agentResponse.output || agentResponse.text || '{}';\n\n// Limpiar markdown code blocks si los hay\nclassificationText = classificationText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// Parsear JSON\nlet classification;\ntry {\n  classification = JSON.parse(classificationText);\n} catch (e) {\n  console.error('Error parseando clasificación:', e);\n  console.error('Texto recibido:', classificationText);\n  classification = {\n    category: 'consulta_general',\n    confidence: 0.5,\n    reasoning: 'Error en clasificación, usando default'\n  };\n}\n\n// Log para debugging\nconsole.log('Clasificación:', classification);\n\nreturn [{\n  json: {\n    ...originalData,\n    classification: classification,\n    category: classification.category,\n    confidence: classification.confidence\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "6f485255-365c-4c32-9a57-1d03446aed92",
      "name": "Parsear Clasificación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-nueva-reserva",
              "leftValue": "={{ $json.category }}",
              "rightValue": "nueva_reserva",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 100],
      "id": "61cb1d66-0c44-4519-8bac-1c5335756717",
      "name": "¿Nueva Reserva?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-modificar",
              "leftValue": "={{ $json.category }}",
              "rightValue": "modificar_reserva",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300],
      "id": "5b3cfdc9-f153-48da-8eb1-2264efed0a68",
      "name": "¿Modificar Reserva?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-cancelar",
              "leftValue": "={{ $json.category }}",
              "rightValue": "cancelar_reserva",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 500],
      "id": "7b40ae34-c8de-4b2b-825d-48f150c6b924",
      "name": "¿Cancelar Reserva?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RESERVATION_AGENT_WORKFLOW_ID",
          "mode": "id",
          "cachedResultName": "4️⃣ Agente Reservas"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1400, 80],
      "id": "de4e19c4-c10b-4ee9-90a4-cd2aa1531a7f",
      "name": "Ejecutar Agente de Reservas"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MODIFY_AGENT_WORKFLOW_ID",
          "mode": "id",
          "cachedResultName": "5️⃣ Agente Modificación"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1400, 280],
      "id": "935229bf-e7a7-47b0-a2a1-c802a2f250ea",
      "name": "Ejecutar Agente de Modificación"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CANCEL_AGENT_WORKFLOW_ID",
          "mode": "id",
          "cachedResultName": "6️⃣ Agente Cancelación"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1400, 480],
      "id": "5fac479e-3d09-4642-a40c-946dd03fb61e",
      "name": "Ejecutar Agente de Cancelación"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FAQ_AGENT_WORKFLOW_ID",
          "mode": "id",
          "cachedResultName": "7️⃣ Agente FAQ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1400, 680],
      "id": "82813ae7-177f-40e6-8213-1bb35b3f7866",
      "name": "Ejecutar Agente de FAQ"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "agent_conversations",
        "filterType": "manual",
        "matchingColumns": {
          "id": "={{ $json.conversation_id }}"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "interaction_type",
              "fieldValue": "={{ $json.category === 'nueva_reserva' ? 'reservation' : $json.category === 'modificar_reserva' ? 'modification' : $json.category === 'cancelar_reserva' ? 'cancellation' : 'inquiry' }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ classification: $json.classification, classified_at: new Date().toISOString() }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 700],
      "id": "update-conversation-type",
      "name": "Actualizar Tipo de Conversación",
      "credentials": {
        "supabaseApi": {
          "id": "9pdl4V7ImejCLZWo",
          "name": "Supabase La-IA"
        }
      }
    }
  ],
  "connections": {
    "Start (from Gateway)": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Clasificador": {
      "main": [
        [
          {
            "node": "Parsear Clasificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Clasificación": {
      "main": [
        [
          {
            "node": "¿Nueva Reserva?",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Modificar Reserva?",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Cancelar Reserva?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Actualizar Tipo de Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Nueva Reserva?": {
      "main": [
        [
          {
            "node": "Ejecutar Agente de Reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Modificar Reserva?": {
      "main": [
        [
          {
            "node": "Ejecutar Agente de Modificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cancelar Reserva?": {
      "main": [
        [
          {
            "node": "Ejecutar Agente de Cancelación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar Agente de FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-03T00:00:00.000Z",
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "968c65341fc947850f62b4a42d249947219a244717952c0dbaf2b62952e73bd9"
  },
  "pinData": {}
}
